@model IEnumerable<Books>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
             <th>Name</th>
             <th>Rating</th>
        </tr>
        </thead>
        <tbody>
           @foreach(var books in Model)
           {
            <tr>
              <td>@books.Id</td>
              <td>@books.Name</td>
              <td>@books.Rating</td>
            </tr>
           }

        </tbody>
    </table>

</div>

