@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Sign Up</h1>
</div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST" action="#">

                    <div class="form-group">
                        <label for="email">Email adresa</label>
                        <input type="email" name="email" class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="username">Korisničko ime</label>
                        <input type="username" name="username" class="form-control" id="username">
                    </div>

                    <div class="form-group">
                        <label for="password">Lozinka</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>

                    <div>
                        <button class="btn btn-block">Pošalji</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

